{% extends 'BellonBundle::layout.html.twig' %}

{% block meta_tags %}
    <title>{{ meta_title | raw }}</title>
    <meta name="description" content="{{ meta_description | raw }}">
    <meta name="keywords" content="{{ meta_keywords | raw }}">
{%  endblock meta_tags %}

{% block javascript %}
    <!— Yandex.Metrika counter —>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter32238044 = new Ya.Metrika({
                        id:32238044,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/32238044" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!— /Yandex.Metrika counter —>
{% endblock javascript %}

{% block content %}
    <div class="container index">

        <div class="row-fluid">

            {% set index = [0,3,6,9,12,15] %}
            {% for i, category in categories %}
            <div class="span4" {% if i in index %} style="margin-left: 0"{% endif %}>
                <!-- ************************ -->
                <!-- easyBox **************** -->
                <div class="easyBox">
                    <a href="{{ path('category_products', {slug: category.slug}) }}">{% if category | itm_ipw_exists('image') %}<img src="{{ category | itm_ipw_path('image') | imagine_filter('category_main') }}" alt=" " class="contentoverlay">{% endif %}</a>

                    <div class="inner">
                        <a href="{{ path('category_products', {slug: category.slug}) }}"></a>
                        <h3 class="light"><a href="{{ path('category_products', {slug: category.slug}) }}">{{ category.name }}</a></h3>
                        {% if category.description is not empty %}<p>{{ category.description }}</p>{% endif %}
                    </div>
                </div>
                <!-- ************************ -->
                <!-- / easyBox **************** -->
            </div>
            {% endfor %}
        </div>
        <!-- / row-fluid -->
    </div>
    <!-- /  container -->
{% endblock content %}