<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Bellon</title>

    <link rel="stylesheet" href="{{ asset('css/icons/entypo/css/entypo.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/variant4-bw.css') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}

</head>
<body class="boxed pat2">

<div id="boxedWrapper">

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ path('index') }}">Bellon Company</a>
                <div class="nav-collapse" style="float: right">
                    <ul class="nav pull-left">
                        <li {% if get_action_name() == 'index'%} class="active" {% endif %}>
                            <a href="{{ path('index') }}">Главная</a>
                        </li>
                        {{ render(controller('BellonBundle:Default:menu')) }}
                        <li {% if get_action_name() == 'about'%} class="active" {% endif %}>
                            <a href="{{ path('about') }}">О нас</a>
                        </li>
                        <li{% if get_action_name() == 'contacts'%} class="active" {% endif %}>
                            <a href="{{ path('contacts') }}">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock content %}

    {{ render(controller('BellonBundle:Default:footer')) }}

    <a href="#" id="toTop" class="entypo up-open"><i></i> Back to top</a>
</div>
<!-- / boxedWrapper -->

<script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.contenthover.min.js') }}"></script>
<script src="{{ asset('js/jquery.tweet.js') }}"></script>


<script src="{{ asset('js/main.js') }}"></script>

</body>
</html>